<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lili.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.lili.entity.User">
        <id column="userId" jdbcType="VARCHAR" property="userId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="openid" jdbcType="VARCHAR" property="openid" />
        <!--<result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />-->
    </resultMap>
    <!--<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.mblc.seo.cms.htmlgen.model.CmsStaticData">-->
        <!--<result column="json" jdbcType="LONGVARCHAR" property="json" />-->
    <!--</resultMap>-->
    <select id="selectAll" resultMap="BaseResultMap">
        select * from user 
    </select>
    <select id="queryOne" parameterType="string" resultMap="BaseResultMap">
        select * from user where openid=#{openid} 
    </select>
    <insert id="insertOne" parameterType="com.lili.entity.User">
        insert into user(userId, name, openid) values(#{userId}, #{name}, #{openid})
    </insert>
    <update id="updateOne" parameterType="com.lili.entity.User">
        UPDATE USER SET userId = #{userId}, name = #{name}
        <where>
            <if test="openid != null and !&quot;&quot;.equals(openid.trim())">
                and openid = #{openid}
            </if>
        </where>
    </update>
    <delete id="deleteOne" parameterType="com.lili.entity.User">
        DELETE FROM user WHERE openid = #{openid}
    </delete>
</mapper>